@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.search {
  width: 370px;
  height: 65px;
  position: absolute;
  border-radius: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24%;
  margin-top: 5%
}

.search input, .search select {
  height: 37px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
}

.search select{
  width: 185px;
  padding-left: 40px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.search input {
  border-right: 1px solid #e0e0e0;
  width: 112px;
  position: relative;
  z-index: 2;
}

.search input::placeholder,  .search select {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  opacity: 1;
}

.search input:focus::placeholder {
  color: transparent;
}

.search img {
  cursor: pointer;
  margin: 0 15px 0 33px;
}

.search img:last-child {
  position: absolute;
  z-index: 1;
  margin-left: 90%;
}